html, body {
  margin: 0;
  height: 100%;
}

#map {
  height: 100%;   /* fylder hele skærmen */
  width: 100%;
}

/* Blå dot med hvid ring */
.user-dot {
  width: 18px;
  height: 18px;
  background: #0a84ff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff, 0 0 0 8px rgba(10,132,255,0.22);
}
