/* Font */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f5;
}

header {
  background-color: #00aa00;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header p {
  margin: 5px 0 0 0;
  font-size: 1rem;
}

#map {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

section {
  padding: 15px 20px;
}

input[type="text"] {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 95%;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: 600;
  background-color: #00aa00;
  color: white;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #008800;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ul li {
  padding: 10px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

#addSpotBox.hidden {
  display: none;
}
